<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--自动扫描-->
    <context:component-scan base-package="com.kaishengit">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--数据库连接池-->
    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="filters" value="stat"/>
    </bean>


    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--基于注解的事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Activiti引擎配置 -->
    <bean id="processEngineConfiguration"
          class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="processEngineName" value="spring"></property>
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
        <property name="databaseSchemaUpdate" value="true" />
        
        <property name="deploymentResources" value="
            classpath*:/diagrams/leave/*.zip"></property>
    </bean>

    <bean id="processEngineFactory"
          class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>

    <!-- Activiti的Service -->
    <bean id="repositoryService" factory-bean="processEngineFactory"
          factory-method="getRepositoryService" />
    <bean id="runtimeService" factory-bean="processEngineFactory"
          factory-method="getRuntimeService" />
    <bean id="formService" factory-bean="processEngineFactory"
          factory-method="getFormService" />
    <bean id="identityService" factory-bean="processEngineFactory"
          factory-method="getIdentityService" />
    <bean id="taskService" factory-bean="processEngineFactory"
          factory-method="getTaskService" />
    <bean id="historyService" factory-bean="processEngineFactory"
          factory-method="getHistoryService" />
    <bean id="managementService" factory-bean="processEngineFactory"
          factory-method="getManagementService" />













</beans>