<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DiskMapper">
    <insert id="save">
        insert into t_disk(source_name,name,fid,size,create_time,create_user,type)
        VALUES
        (#{sourceName},#{name},#{fid},#{size},#{createTime},#{createUser},#{type})
    </insert>
    <delete id="delete">
        DELETE FROM t_disk where id = #{id}
    </delete>
    <delete id="batchDel">
        DELETE FROM t_disk WHERE id in(
        <foreach collection="list" item="id" separator=",">
          #{id}
        </foreach>
        )
    </delete>
    <select id="findByFid" resultType="com.kaishengit.pojo.Disk">
        SELECT * from t_disk where fid = #{fid}
    </select>
    <select id="findById" resultType="com.kaishengit.pojo.Disk">
        select * from t_disk where id = #{id}
    </select>
    <select id="findAll" resultType="com.kaishengit.pojo.Disk">
        SELECT * FROM t_disk
    </select>
</mapper>