<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">

    <cache/>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(user_name,password) VALUES (#{userName},#{password})
    </insert>
    <update id="update">
        update t_user
         <set>
             user_name = #{userName},
             <if test="password != null and password != ''">
                 password = #{password}
             </if>
         </set>
        where id = #{id}
    </update>
    <delete id="del">
        DELETE FROM t_user where id = #{id}
    </delete>

    <sql id="selectUserAndRole">
        select t_user.*,t_role.id as role_id,t_role.role_name,t_role.view_name from t_user
        left join t_user_role on t_user.id = t_user_role.user_id
        LEFT JOIN t_role on t_user_role.role_id = t_role.id
    </sql>

    <select id="findAll" resultMap="UserMap">
        <include refid="selectUserAndRole"/>
    </select>

    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <collection property="roleList" ofType="Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="roleName"/>
            <result column="view_name" property="viewName"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="UserMap">
        <include refid="selectUserAndRole"/>
        WHERE t_user.id = #{id}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*) FROM t_user
    </select>
    <select id="findByPage" resultMap="UserMapN1">
        SELECT * FROM t_user
        limit ${start},${pageSize}
    </select>
    <select id="countByParam" resultType="java.lang.Long">
        select count(*) from t_user
        <if test="queryRole != null and queryRole != ''">
          left JOIN t_user_role on t_user.id = t_user_role.user_id
        </if>
        <where>
            <if test="queryName != null and queryName != ''">
                user_name like concat('%',#{queryName},'%')
            </if>
            <if test="queryRole != null and queryRole != ''">
                and  t_user_role.role_id = #{queryRole}
            </if>
        </where>
    </select>
    <select id="findByPageAndParam" resultMap="UserMapN1">
        select * from t_user
        <if test="queryRole != null and queryRole != ''">
          left JOIN t_user_role on t_user.id = t_user_role.user_id
        </if>
        <where>
            <if test="queryName != null and queryName != ''">
                user_name like concat('%',#{queryName},'%')
            </if>
            <if test="queryRole != null and queryRole != ''">
                and  t_user_role.role_id = #{queryRole}
            </if>
        </where>
        limit ${start},${pageSize}
    </select>
    <select id="findByUserName" resultType="com.kaishengit.pojo.User">
        SELECT * FROM t_user where user_name = #{userName}
    </select>

    <resultMap id="UserMapN1" type="User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <collection property="roleList" ofType="Role" column="id" select="com.kaishengit.mapper.RoleMapper.findByUserId"/>
    </resultMap>
</mapper>