<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">

    <cache/>
    <!--
        将select节点的useCache属性设置为false表示该查询结果不会放入到缓存中
    -->
    <select id="findById" useCache="false" parameterType="int" resultType="User">
        SELECT * FROM t_user WHERE id = #{id}
    </select>
    
    <select id="findAll" resultType="User">
        SELECT * FROM t_user
    </select>

    <select id="findByUserNameAndPassword" resultType="com.kaishengit.pojo.User">
      SELECT * FROM t_user where user_name=#{name} and password=#{pwd}
    </select>

    <select id="findByParam" resultType="com.kaishengit.pojo.User">
          SELECT * FROM t_user
          <trim prefix="where" prefixOverrides="and|or">
              <if test="username != null and username != ''">
                  user_name = #{username}
              </if>
              <if test="password != null and password != ''">
                  and password= #{password}
              </if>
          </trim>
          <!--<where>
              <if test="username != null and username != ''">
                  user_name = #{username}
              </if>
              <if test="password != null and password != ''">
                  and password= #{password}
              </if>
          </where>-->
          <!--<choose>
              <when test="username != null and username != ''">
                  user_name = #{username}
              </when>
              <when test="password != null and password != ''">
                  password= #{password}
              </when>
              <otherwise>

              </otherwise>
          </choose>-->
    </select>
    <select id="findByIds" resultType="com.kaishengit.pojo.User">
        SELECT * FROM t_user where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!--
        useGeneratedKeys:true 表示使用自动增长的主键
        keyProperty:id 将自动增长的主键赋值给parameterType对应类型的id属性
        flushCache:false 不刷新缓存
    -->
    <insert id="save" parameterType="User"
            useGeneratedKeys="true" keyProperty="id"
            flushCache="false">
        INSERT INTO t_user(user_name,password) VALUES (#{userName},#{password})
    </insert>
    <insert id="batchSave">
        INSERT INTO t_user(user_name,password)
        VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.userName},#{user.password})
        </foreach>
    </insert>

    <update id="update" parameterType="User">
        UPDATE t_user SET user_name = #{userName},password=#{password} where id = #{id}
    </update>

    <delete id="del" parameterType="int">
        DELETE FROM t_user where id = #{id}
    </delete>


</mapper>