<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">

    <select id="findById" parameterType="int" resultType="User">
        SELECT * FROM t_user WHERE id = #{id}
    </select>
    
    <select id="findAll" resultType="User">
        SELECT * FROM t_user
    </select>

    <!--
        useGeneratedKeys:true 表示使用自动增长的主键
        keyProperty:id 将自动增长的主键赋值给parameterType对应类型的id属性
    -->
    <insert id="save" parameterType="User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(user_name,password) VALUES (#{userName},#{password})
    </insert>
    
    <update id="update" parameterType="User">
        UPDATE t_user SET user_name = #{userName},password=#{password} where id = #{id}
    </update>

    <delete id="del" parameterType="int">
        DELETE FROM t_user where id = #{id}
    </delete>


</mapper>