<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--
            开启数据库列名下划线风格转换为驼峰命名法
            例如 user_name -> userName
                last_access_time -> lastAccessTime
        -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--配置别名-->
    <typeAliases>
        <typeAlias type="com.kaishengit.pojo.User" alias="User"/>
        <typeAlias type="com.kaishengit.pojo.Employee" alias="Employee"/>
        <typeAlias type="com.kaishengit.pojo.Dept" alias="Dept"/>
    </typeAliases>



    <!--配置数据库环境-->
    <environments default="dev">

        <environment id="dev">
            <!--配置事务管理器-->
            <transactionManager type="JDBC"/>
            <!--配置数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mydb"/>
                <property name="username" value="root"/>
                <property name="password" value="rootroot"/>
            </dataSource>
        </environment>

    </environments>


    <!--加载Mapper.xml文件-->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/EmployeeMapper.xml"/>
        <mapper resource="mapper/DeptMapper.xml"/>
    </mappers>

</configuration>